/* Styling for LatestNews Section */
.latest-news-section {
    padding: 20px;
    margin: 40px;
    width: 100%;
}

.latest-news-heading {         
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

/* Container for aligning cards horizontally */
.latest-news-container {
    display: flex;
    gap: 5px; /* Space between the cards */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}

/* Hide scrollbar for Chrome, Safari, and Opera */
.latest-news-container::-webkit-scrollbar {
    display: none;
}


/* Error message styling */
.error-message {
    color: red;
    text-align: center;
}
